
#result {
    display: none;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#shareResult {
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#resultImg {
    width: 100%;
    margin: auto;
    display: block;
}

.Rbox {
    width: 100%;
    margin: auto;
    display: block;
}

.kakao {
    color: whitesmoke;
    background-color: #4E946A;
    font-size: 20px;
    border: 0px;
    border-radius: 20px;
    botton: 0;
    margin-right: 10px;

}

.kakao0 {
    color: whitesmoke;
    background-color: #4E946A;
    font-size: 20px;
    border: 0px;
    border-radius: 20px;
    botton: 0;

}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;

}

.box > button:hover {
    background-color: whitesmoke;
    color: green;
}

.gohome {
    color: whitesmoke;
    background-color: #4E946A;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
    border: 0px;
    border-radius: 20px;
    botton: 0;
}

.gohome:hover, .gohome:focus {
    background-color: whitesmoke;
    color: green;
}
